* {
    margin: 0;
    padding: 0;
    background-color: white;
    background-color: var(--contrastBlue);
  }

  :root {
    --blue-color: #1c2939;
    --logo-blue: #08595c;
    --contrastBlue: rgb(17, 24, 39);
    --odinGold: #dfb060;
    --font-family: 'Calibri', Arial, 'Trebuchet MS', sans-serif, Helvetica, sans-serif;
    --shadow: rgba(17, 24, 39, 0.35) 0px -2px 6px 0px inset;
  }

  .container {
    text-align: center;
    display: grid;
    grid-template-columns: 14% 33% 33% 17%;
    grid-template-rows: 17% 87% 6%;
    font-family: var(--font-family);
    gap: 10px;
  }
  
  .container div {
    padding: 10px;
    font-weight: bold;
    color: white;
  }
  
  .header {
    display: grid;
    grid-column: 2 / 5;
    grid-row: 1 / 2;
    grid-template-columns: 1fr 1fr 1fr;
    align-content: center;
    align-self: center;
  }
  
  .topnav img {
    position: absolute;
    height: 10%;
    left: 16%;
  }

  h1 {
    position: absolute;
    left: 20%;
    top: 8%;
    text-align: left;
    font-size: 22px;
  }
  
  h2 {
    position: absolute;
    left: 20%;
    top: 5%;
    text-align: left;
    font-size: 15px;
  }

.notification {
  float: right;
  background-image: url(images/bell-ring.png);
  background-size: 100%;
  background-repeat: no-repeat;
  height: 4vh;
  width: 4vh;
  border: none;
  margin: 0px 9px;
  cursor: pointer;
}

.upload {
  float: right;
  background-image: url(images/uploadDark.jpg);
  background-size: 100%;
  background-repeat: no-repeat;
  height: 6vh;
  width: 6vh;
  margin: -3px 10px;
  border: none;
  cursor: pointer;
}

.share {
  float: right;
  background-image: url(images/share.jpg);
  background-size: 100%;
  background-repeat: no-repeat;
  height: 5vh;
  width: 5vh;
  margin: -3px 10px;
  border: none;
  cursor: pointer;
}

.notification:hover, .upload:hover, .share:hover {
  transform: scale(1.1);
}

/* Style the search box inside the navigation bar */
.search input[type=text] {
  padding: 6px;
  outline: var(--logo-blue) solid 3px;
  font-size: 17px;
  border-radius: 10px;
  color: white;
  border: none;
}

.search input[type=text]:active {
  background-color: rgb(218, 218, 218);
  color: white;
}

/* When the screen is less than 600px wide, stack the links and the search field vertically instead of horizontally */
@media screen and (max-width: 600px) {
  .topnav a input[type=text] {
    float: none;
    display: block;
    text-align: center;
    width: 100%;
    margin: 0;
    padding: 14px;
  }
}

  @media screen and (max-width: 600px) {
    .search input[type=text] {
      float: none;
      display: block;
      text-align: center;
      width: 100%;
      margin: 0;
      padding: 14px;
    }

  .search input[type=text] {
    border: 1px solid #ccc;
  }
}
  
  /* Formatting for side bar section */
  .sidebar {
    background-color: var(--blue-color);
    grid-row: 1 / 4;
    box-shadow: var(--shadow);
    display: grid;
  }
  
  .logo {
    background-image: url(images/CompellingLogoSix.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    margin: 10px 10px -20px 8px;
    height: 4vh;
    width: 10vw;
    border-radius: 5px;
    cursor: pointer;
  }

  .topSection,
  .bottomSection {
    list-style: none;
    background-color: var(--blue-color);
  }

  .topSection li, 
  .bottomSection li {
    background-color: var(--blue-color);
    color: white;
    text-align: justify;
    margin: 25px 10px;
    font-weight: normal;
  }

  .topSection a, 
  .bottomSection a {
    text-decoration: none;
  }

  li:hover {
    font-weight: 700;
    cursor: pointer;
  }

  .topSection img,
  .bottomSection img {
    background-color: var(--blue-color);
    color: white;
    text-align: justify;
    margin: 0px 10px -5px;
  }

  .icon {
    width: 15%;
    height: 15%;
  }

  .sidebar .side-content {
    background-color: var(--blue-color);
    color: white;
  }

    /* Formatting for graph section */
  .article {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    display: grid;
    grid-template-rows: repeat(auto-fit, minmax(200px, 1fr));
    gap: 15px;
  }
  
  .article .cardTop {
    background-image: url(images/graph_1.jpg);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    box-shadow: var(--shadow);
    border-left: 10px solid var(--logo-blue);
    border-radius: 5px;
    grid-row: 1 / 2;
  }

  .article .cardBottom {
    background-image: url(images/graph_2.jpg);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    box-shadow: var(--shadow);
    border-left: 10px solid var(--logo-blue);
    border-radius: 5px;
    grid-row: 2 / 3;
  }
  
  .cardTop .title, .cardBottom .title {
    font-size: 24px;
    text-align: center;
  }

  .cardTop p, .cardBottom p {
    font-size: 18px;
    visibility: hidden;
    opacity: 0;
    color: white;
    font-weight: normal;
    padding: 10px;
    text-align: justify;
  }

  .cardTop:hover p {
    visibility: visible;
    opacity: 1;
  }
  
  .cardBottom:hover p {
    visibility: visible;
    opacity: 1;
  }

  .cardTop:hover  {
    background-image:none;
  }

  .cardBottom:hover  {
    background-image:none;    
  }

  /* Formatting for current projects sections */
  .currentProjects {
    grid-row: 2 / 3;
    display: grid;
    gap: 10px;
  }
  
  .currentProjects .projectCalc {
    background-image: url(images/calcImage.jpg);
    background-size: 100%;
    background-position: center;
    box-shadow: var(--shadow);
    border-radius: 5px;
    transition: background-size 2s ease-in-out;
    border-left: 10px solid var(--logo-blue);
  }

    .currentProjects .projectEAS{
    background-image: url(images/etch-a-sketch.jpg);
    background-size: 100%;
    background-position: center;
    box-shadow: var(--shadow);
    border-radius: 5px;
    transition: background-size 2s ease-in-out;
    border-left: 10px solid var(--logo-blue);
  }

  .currentProjects .projectLPS{
    background-image: url(images/LPS.jpg);
    background-size: 100%;
    background-position: center;
    box-shadow: var(--shadow);
    border-radius: 5px;
    transition: background-size 2s ease-in-out;
    border-left: 10px solid var(--logo-blue);
  }

  .currentProjects .projectSignUp{
    background-image: url(images/signUp.jpg);
    background-size: 100%;
    background-position: center;
    box-shadow: var(--shadow);
    border-radius: 5px;
    transition: background-size 2s ease-in-out;
    border-left: 10px solid var(--logo-blue);
  }

  .projectCalc p,  .projectEAS p, 
  .projectLPS p, .projectSignUp p {
    visibility: hidden;
    opacity: 0;
    color: white;
    padding: 10px;
    background-color: #1c29399a;
  }

  .projectCalc a,  .projectEAS a, 
  .projectLPS a, .projectSignUp a {
    text-decoration: none;
  }
  
  .projectCalc:hover p, 
  .projectEAS:hover p,
  .projectLPS:hover p,
  .projectSignUp:hover p  {
    visibility: visible;
    opacity: 1;
  }

  .projectCalc:hover, 
  .projectEAS:hover,
  .projectLPS:hover,
  .projectSignUp:hover {
    background-size: 140%;
  }

  /* Formatting for graph section */
  .trending {
    grid-column: 4 / 5;
    grid-row: 2 / 3;
    display: grid;
    grid-template-rows: repeat(auto-fit, minmax(100px, 1fr));
    gap: 15px;
  }
  
  .currentTrending, .trendingNews{
    background-color: var(--blue-color);
    border-left: 10px solid var(--logo-blue);
    box-shadow: var(--shadow);
    border-radius: 5px;
    align-items: center;
  }

  .currentTrending .title{
    background-color: var(--blue-color);
    color: white;
    font-size: 18px;
    font-weight: 700;
    grid-row: 1 / 2;
  }

  .trendingNews .title{
    background-color: var(--blue-color);
    color: white;
    font-size: 18px;
    font-weight: 700;
    grid-row: 2 / 3;
  }
  
  .trendContent, 
  .newsContent {
    list-style: none;
  }
  
  .trendContent a, 
  .newsContent a {
    text-decoration: none;
  }

  .trendContent li, 
  .newsContent li {
    background-color: var(--blue-color);
    color: white;
    text-align: justify;
    font-weight: normal;
    padding: 10px;
  }

  .trendContent img,
  .newsContent img {
    background-color: var(--blue-color);
    color: white;
    text-align: justify;
    margin: 0px 10px -5px;
  }

  .avatar {
    width: 15%;
    height: 15%;
    border-radius: 50px;
  }

  /* Footer formatting including github link and text formatting */
  .footer {
    grid-column: 2 / 5;
    grid-row: 3 / 4;
    margin: -10px;
    background-color: var(--contrastBlue);
  }

  #githubLogo {
    position: absolute;
    right: 1.5%;
    height: 4vh;
    background-blend-mode: lighten;
    border-radius: 50%;
  }

  h5 {
    position: absolute;
    right: 4%;
    font-size: 13px;
    visibility: hidden;
    background-color: var(--contrastBlue);
    color: white;
    font-weight: 700;
    opacity: 0;
    transition: opacity 1s, visibility 1s;
  }
  
  .footer:hover h5 {
    visibility: visible;
    opacity: 1;
  }

  /* Set formatting for scroll bar when overflow occurs */
  ::-webkit-scrollbar {
    width: 8px;
  }
  
  ::-webkit-scrollbar-track {
    background: #0184c9; 
  }
   
  ::-webkit-scrollbar-thumb {
    background: var(--blue-color);
    border-radius: 15px; 
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background: var(--blue-color);
  }